.spic{
    float:left;
    max-height:50%;
    max-width: 60%;
    height:auto;
    width:auto;
    margin:5%;
}
body{
    display: flex;
  justify-content: center; /* Center items along the main axis (horizontally) */
  align-items: center; 
  background-color: beige;
  width:100%;
}
.carousel-container{
    position:relative;
    width: 1000px;
    height: 500px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding-top: 10%;
}
.container{
    
    position:relative;
    max-width: 800px;
    height: 300px;
    border: 1px solid #ddd;
    left:10%;
}
.carousel-image{
    height:100%;
    width:100%;
}
.next-button{
    position: absolute;
    height:83%;
    left:98%;
    color:gray;
    font-size: large;
    float:right;
    width:20px;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    cursor:pointer;
    z-index:1;
}
.prev-button{
    
    position: absolute;
    height:83%;
    float:left;
    color:gray;
    font-size: large;
    width:20px;
    background-color: rgba(0, 0, 0, 0);
    border:none;
    cursor:pointer;
    z-index:1;
}
.next-button:hover{
    background-color: rgba(81, 81, 81, 0.21);
}
.prev-button:hover{
    background-color: rgba(81, 81, 81, 0.21);
}